$max-screen-width: 1440px;

$bg-general: --bg-general;
$text-general: --text-general;
$pad-general: --pad-general;
$accent-color-general: --accent-color-general;
$accent-color-secondary: --accent-color-secondary;
$button-text: --button-text;
$bg-preview: --bg-preview;
