$max-screen-width: 1440px;

$header-height: 104px;

$bg-general: --bg-general;
$text-general: --text-general;
$pad-general: --pad-general;
$accent-color-general: --accent-color-general;
$accent-color-primary: --accent-color-primary;
$accent-color-secondary: --accent-color-secondary;
$button-text: --button-text;
$bg-preview: --bg-preview;
$input-border: --input-border;
$error: --error;
$border-sidebar: --border-sidebar;
$gray: --gray;
$buttons-hover: --buttons-hover;
$bg-modal: --bg-modal;
$create-project-button: --create-project-button;
$create-project-button-text: --create-project-button-text;
$create-project-button-hover: --create-project-button-hover;

$sidebar-width: 292px;
$sidebar-radius: 24px;
$sidebar-info-height: 82px;
$sidebar-info-mb: 10px;
$sidebar-info-border: 1px solid var($border-sidebar);
$sidebar-header-height: 64px;
$sidebar-link-height: 54px;
