@mixin flex-centered {
  display: flex;
  align-items: center;
}

@mixin theme-transition-base($pattern, $type: linear, $time: 0.1s) {
  transition: $pattern $time $type;
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}

@mixin active {
  &:not([disabled]):active {
    @content;
  }
}

@mixin default-hover {
  @include hover {
    opacity: 0.9;
  }
}

@mixin default-layout-width {
  width: 100%;
  max-width: $max-screen-width;
  margin: 0 auto;
}

@mixin page-creator($height: 'auto', $min-height: 'auto', $padding-top: 'auto') {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @if $height == 'auto' {
    height: calc(calc(var(--vh, 1vh) * 100) - $header-height);
    height: calc(100svh - $header-height);
  }

  @if $min-height == 'auto' {
    min-height: 750px;
  }

  @if $padding-top == 'auto' {
    padding-top: 15vh;
    padding-top: 15svh;
  }

  @content;
}

@mixin autofill {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @content;
  }
}

@mixin truncate-text($clamp: 0) {
  @if ($clamp == 0) {
    overflow: hidden;
    min-width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: $clamp;
    line-clamp: $clamp;
  }
}
