@mixin flex-centered {
  display: flex;
  align-items: center;
}

@mixin theme-transition-base($pattern) {
  transition: $pattern 0.1s linear;
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}

@mixin active {
  &:not([disabled]):active {
    @content;
  }
}

@mixin default-hover {
  @include hover {
    opacity: 0.9;
  }
}

@mixin default-layout-width {
  width: 100%;
  max-width: $max-screen-width;
  margin: 0 auto;
}

@mixin page-creator($height: 'auto', $min-height: 'auto', $padding-top: 'auto') {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @if $height == 'auto' {
    height: calc(100vh - $header-height);
    height: calc(100svh - $header-height);
  }

  @if $min-height == 'auto' {
    min-height: 750px;
  }

  @if $padding-top == 'auto' {
    padding-top: 15vh;
    padding-top: 15svh;
  }

  @content;
}
