
.dark {
  #{$bg-general}: #1c171d;
  #{$text-general}: #ffffff;
  #{$pad-general}: 0 80px;
  #{$accent-color-general}: #8d62f8;
  #{$accent-color-secondary}: #7d288b;
  #{$button-text}: #1c171d;
  #{$bg-preview}: #333333;
  #{$input-border}: #a19da9;
  #{$error}: #fd7e7e;

  .header {
    &_scrolled {
      background-color: rgba(28, 23, 29, 0.5);
    }
  }

  @include autofill {
    -webkit-box-shadow: 0 0 0 30px #333333 inset !important;
    caret-color: #ffffff !important;
    -webkit-text-fill-color: #ffffff !important;
  }
}

.light {
  #{$bg-general}: #ffffff;
  #{$text-general}: #131313;
  #{$pad-general}: 0 80px;
  #{$accent-color-general}: #8d62f8;
  #{$accent-color-secondary}: #e362f8;
  #{$button-text}: #ffffff;
  #{$bg-preview}: #ffffff;
  #{$input-border}: #a19da9;
  #{$error}: #9d3333;

  .header {
    &_scrolled {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  @include autofill {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
    caret-color: #333333 !important;
    -webkit-text-fill-color: #333333 !important;
  }
}
