.dark {
  #{$bg-general}: #1c171d;
  #{$text-general}: #ffffff;
  #{$pad-general}: 0 80px;
  #{$accent-color-general}: #a282ef;
  #{$accent-color-secondary}: #7d288b;
  #{$button-text}: #1c171d;
  #{$bg-preview}: #333333;
  #{$input-border}: #a19da9;
  #{$error}: #fd7e7e;
  #{$border-sidebar}: #453d58;
  #{$gray}: #a19da9;
  #{$buttons-hover}: #453d58;
  #{$accent-color-primary}: #a282ef;
  #{$bg-modal}: rgba(48, 41, 64, 0.8);
  #{$create-project-button}: #342237;
  #{$create-project-button-text}: #dc95e7;
  #{$create-project-button-hover}: #dc95e7;
  #{$rainbow-button-gradient}: linear-gradient(264deg, #7d288b -6.6%, #a282ef 53.55%);
  #{$bg-general-radial}: radial-gradient(277.91% 187.82% at 108.67% -8.04%, #1c171d 16%, rgba(125, 40, 139, 0.4) 53.5%, rgba(162, 130, 239, 0.4) 75%);
  #{$bg-general-loader-radial}: radial-gradient(277.91% 187.82% at 108.67% -8.04%, #1c171d 16%, rgba(125, 40, 139, 1) 53.5%, rgba(162, 130, 239, 1) 75%);
  #{$support-bg-color}: #453d58;

  .header {
    &_scrolled {
      background-color: rgba(28, 23, 29, 0.5);
    }
  }

  @include autofill {
    -webkit-box-shadow: 0 0 0 30px #333333 inset !important;
    caret-color: #ffffff !important;
    -webkit-text-fill-color: #ffffff !important;
  }

  @media (max-width: 1280px) {
    #{$pad-general}: 0 16px;
  }
}

.light {
  #{$bg-general}: #ffffff;
  #{$text-general}: #131313;
  #{$pad-general}: 0 80px;
  #{$accent-color-general}: #8d62f8;
  #{$accent-color-secondary}: #e362f8;
  #{$button-text}: #ffffff;
  #{$bg-preview}: #ffffff;
  #{$input-border}: #a19da9;
  #{$error}: #9d3333;
  #{$border-sidebar}: #a19da9;
  #{$gray}: #a19da9;
  #{$buttons-hover}: #f2edff;
  #{$accent-color-primary}: #8d62f8;
  #{$bg-modal}: rgba(161, 157, 169, 0.8);
  #{$create-project-button}: #ffedfd;
  #{$create-project-button-text}: #dc95e7;
  #{$create-project-button-hover}: #e362f8;
  #{$rainbow-button-gradient}: linear-gradient(to right, #e362f8, #8d62f8, #8d62f8);
  #{$bg-general-radial}: radial-gradient(277.91% 187.82% at 108.67% -8.04%, #f2edff 9.9%, rgba(220, 149, 231, 0.7) 44.99%, rgba(141, 98, 248, 0.59) 67.91%);
  #{$bg-general-loader-radial}: radial-gradient(277.91% 187.82% at 108.67% -8.04%, #f2edff 9.9%, rgba(220, 149, 231, 1) 44.99%, rgba(141, 98, 248, 1) 67.91%);
  #{$support-bg-color}: #f2edff;

  .header {
    &_scrolled {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  @include autofill {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
    caret-color: #333333 !important;
    -webkit-text-fill-color: #333333 !important;
  }

  @media (max-width: 1280px) {
    #{$pad-general}: 0 16px;
  }
}
