.inter-semibold {
  @include theme-transition-base(color);

  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.inter-medium {
  @include theme-transition-base(color);

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.inter-regular {
  @include theme-transition-base(color);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.inter-regular-thinner {
  @include theme-transition-base(color);

  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;
}

.chakra-petch-medium {
  @include theme-transition-base(color);

  font-family: "Chakra Petch", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
