.inter-semibold {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.inter-medium {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.inter-regular {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
