.inter-semibold {
  @include theme-transition-base(color);

  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;

  @media (max-width: 700px) {
    font-size: 32px;
  }
}

.inter-medium {
  @include theme-transition-base(color);

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

  @media (max-width: 700px) {
    font-size: 16px;
  }
}

.inter-h3 {
  @include theme-transition-base(color);

  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;

  @media (max-width: 700px) {
    font-size: 24px;
  }
}

.inter-regular {
  @include theme-transition-base(color);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  @media (max-width: 700px) {
    font-size: 16px;
  }
}

.inter-regular-thinner {
  @include theme-transition-base(color);

  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;

  @media (max-width: 700px) {
    font-size: 16px;
  }
}

.chakra-petch-medium {
  @include theme-transition-base(color);

  font-family: "Chakra Petch", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  @media (max-width: 700px) {
    font-size: 26px;
  }
}

.caption-regular {
  @include theme-transition-base(color);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 131%;

  @media (max-width: 700px) {
    font-size: 12px;
  }
}
