.breadcrumbs {
  @include flex-centered;

  width: 100%;
  margin-right: 48px;
  gap: 16px;

  .item {
    @extend .inter-regular;

    width: fit-content;
    color: var($gray);
    white-space: nowrap;

    &_active {
      color: var($text-general);
    }

    &_divider {
      flex-shrink: 0;
      color: var($text-general);
      font-size: 32px;
      font-weight: 900;
    }

    &:first-child {
      @include truncate-text(1);

      width: auto;
      white-space: wrap;
    }
  }
}
