.breadcrumbs {
  @include flex-centered;

  width: 100%;
  margin-right: 48px;
  gap: 16px;

  @media (max-width: 1280px) {
    margin-right: 16px;
  }

  .item {
    @extend .inter-regular;

    @include truncate-text;

    max-width: 20vw;
    flex-shrink: 1;
    color: var($gray);
    cursor: default;

    @media (max-width: 1400px) {
      max-width: 13vw;
    }

    @media (max-width: 1280px) {
      max-width: 100%;
    }

    &_active {
      color: var($text-general);
    }

    &_link {
      cursor: pointer;

      @include default-hover;
    }

    &_divider {
      @include flex-centered;

      height: 10px;
      flex-shrink: 0;
      color: var($text-general);
      font-size: 32px;
      font-weight: 900;
    }
  }
}
