.shimmer {
  @include flex-centered;
  @include theme-transition-base(background-color);

  position: relative;
  overflow: hidden;
  background-color: var($bg-general);
  border-radius: 8px;

  &::before {
    position: absolute;
    width: 100%;
    height: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    box-shadow: 0 0 40px 8px var($text-general);
    content: ' ';
  }

  $shimmers: (
    'user-info' 100% $sidebar-info-height $sidebar-radius,
    'side-bar-link' 100% $sidebar-link-height $sidebar-radius,
    'side-bar-breadcrumbs' 50% 25px,
  );

  @each $name, $width, $height, $border-radius in $shimmers {
    &_#{ $name} {
      width: $width;
      height: $height;
      flex-shrink: 0;
      border-radius: $border-radius;
    }

    &_side-bar-breadcrumbs {
      max-width: 500px;
    }
  }

  &_user-info {
    @include theme-transition-base(border-color);

    border: $sidebar-info-border;
    margin-bottom: $sidebar-info-mb;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) rotateZ(140deg);
  }

  100% {
    transform: translateX(150%) rotateZ(100deg);
  }
}
