.shimmer {
  @include flex-centered;
  @include theme-transition-base(background-color);

  position: relative;
  overflow: hidden;
  background-color: var($bg-general);
  border-radius: 8px;

  &::before {
    position: absolute;
    width: 100%;
    height: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    box-shadow: 0 0 40px 8px var($text-general);
    content: ' ';
  }

  $shimmers: (
    'user-info' calc(100% - 32px) $sidebar-info-height $sidebar-radius,
    'side-bar-link' calc(100% - 32px) $sidebar-link-height $sidebar-radius,
    'side-bar-breadcrumbs' 50% 25px,
    'resend-code' 100% 25px,
    'project-viewing-values' 100% 25px,
    'project-uploading' 100% 550px 32px,
    'project-content-player' 100% 540px 32px,
    'project-content-wave' 100% 80px 32px,
    'project-content-button' 270px 58px 24px,
    'project-catalog-row' 100% 284px,
    'project-catalog-column' 100% 221px,
    'payment-cards-quantity' 80% 21px,
    'payment-cards-button' 100% 54px 24px,
  );

  @each $name, $width, $height, $border-radius in $shimmers {
    &_#{ $name} {
      width: $width;
      height: $height;
      flex-shrink: 0;
      border-radius: $border-radius;
    }
  }

  &_side-bar-breadcrumbs {
    max-width: 500px;
  }

  &_project-uploading {
    max-width: 470px;
  }

  &_side-bar-link,
  &_user-info {
    margin: 0 16px;
  }

  &_side-bar-link {
    margin-bottom: 32px;

    &:first-child {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &_user-info {
    border: $sidebar-info-border;
    margin-bottom: $sidebar-info-mb;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) rotateZ(140deg);
  }

  100% {
    transform: translateX(150%) rotateZ(100deg);
  }
}
