.default-content {
  &__wrapper {
    @include default-layout-width;

    padding: var($pad-general);
  }
}

.default-content__support {
  @include flex-centered;
  @include theme-transition-base(background-color);

  position: fixed;
  z-index: 100;
  right: 32px;
  bottom: 32px;
  flex-shrink: 0;
  justify-content: center;
  padding: 16px;
  background-color: var($support-bg-color);
  border-radius: 999px;
  color: var($bg-general);
  cursor: pointer;
  gap: 8px;
  text-wrap: nowrap;

  @media (max-width: 1000px) {
    right: 16px;
    bottom: 16px;
  }

  svg {
    flex-shrink: 0;

    path {
      @include theme-transition-base(fill);

      fill: var($accent-color-primary);
    }
  }

  &:hover {
    background-color: var($accent-color-primary);

    svg {
      path {
        fill: var($bg-general);
      }
    }
  }
}
