.sidebar {
  display: flex;
  overflow: hidden;
  width: $sidebar-width;
  height: 100%;
  flex-direction: column;
  flex-shrink: 0;
  padding: 32px 0;
  border-right: 1px var($border-sidebar) solid;
  background-color: var($bg-general);
  transition: background-color 0.1s linear, border-color 0.1s linear;

  @media (max-width: 1280px) {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
  }

  &_close {
    display: none;
  }

  &__burger {
    position: absolute;
    top: 36px;
    left: 16px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 8px;

    span {
      width: 32px;
      height: 2px;
      background-color: var($text-general);
      border-radius: 12px;
    }
  }

  svg {
    path {
      @include theme-transition-base(fill);

      fill: var($text-general);
    }
  }

  &__divider {
    width: calc(100% - 32px);
    height: 1px;
    flex-shrink: 0;
    padding: 0 32px;
    margin: 0 auto;
    background-color: var($border-sidebar);
  }

  &__logo {
    @extend .chakra-petch-medium;

    max-width: fit-content;
    flex-shrink: 0;
    margin: 0 auto;
    margin-bottom: 44px;
    color: var($text-general);
    text-align: center;

    @include default-hover;
  }

  &__routes {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 32px 16px;
    gap: 8px;
    overflow-x: hidden;
  }

  .user-info {
    @include flex-centered;
    @include theme-transition-base(border-color);

    position: relative;
    overflow: hidden;
    width: calc(100% - 32px);
    height: $sidebar-info-height;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 16px;
    padding-right: 0;
    border: $sidebar-info-border;
    margin: 0 16px;
    margin-bottom: $sidebar-info-mb;
    border-radius: $sidebar-radius;

    &__box {
      @include flex-centered;

      gap: 8px;
    }

    &__logout {
      @include flex-centered;

      height: 100%;
      flex-shrink: 0;
      padding-right: 16px;
      color: var($accent-color-general);
      cursor: pointer;
      gap: 8px;
      text-wrap: nowrap;

      &:hover {
        #logout-svg {
          #logout-path {
            fill: var($accent-color-general);
          }
        }
      }
    }

    &__avatar {
      @include flex-centered;
      @include theme-transition-base(color);

      width: 48px;
      height: 48px;
      flex-shrink: 0;
      justify-content: center;
      background-color: var($accent-color-general);
      border-radius: 16px;
      color: var($bg-general);
      cursor: default;
      font-size: 24px;
      font-weight: 400;
    }

    &__wrapper {
      @include theme-transition-base(color);

      display: flex;
      flex-direction: column;
      color: var($text-general);

      div {
        @include truncate-text;

        max-width: 145px;
      }

      div:last-child {
        color: var($gray);
      }
    }
  }

  .link {
    @include flex-centered;

    width: 100%;
    height: $sidebar-link-height;
    padding: 16px;
    background-color: none;
    border-radius: $sidebar-radius;
    gap: 8px;
    transition: color 0.1s linear, background-color 0.1s linear;

    &_active {
      background-color: var($buttons-hover);
      color: var($accent-color-primary);

      svg {
        path {
          fill: var($accent-color-primary);
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    &_active-create-project {
      width: calc(100% - 32px);
      margin: 0 16px;
      margin-bottom: 32px;
      background-color: var($create-project-button);
      color: var($create-project-button-text);

      svg {
        path {
          fill: var($create-project-button-text);
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    &_support {
      width: calc(100% - 32px);
      margin: 0 16px;
      color: var($text-general);
    }

    &:not([data-disabled="true"]):hover {
      background-color: var($accent-color-general);
      color: var($bg-general);

      svg {
        path {
          fill: var($bg-general);
        }
      }
    }

    &_create-project {
      width: calc(100% - 32px);
      margin: 0 16px;
      margin-bottom: 32px;

      &:not([data-disabled="true"]):hover {
        background-color: var($create-project-button-hover);
        color: var($bg-general);

        svg {
          path {
            fill: var($bg-general);
          }
        }
      }
    }
  }

  .bottom-side {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 18px;

    &__policy {
      color: var($gray);
      text-align: center;

      @include default-hover;
    }
  }
}
