.default-page {
  @include page-creator('none', 'auto', 'auto') {
    height: calc(calc(var(--vh, 1vh) * 100) - $header-height - 32px);
    height: calc(100svh - $header-height - 32px);
    margin-bottom: 32px;
  }

  &__box {
    @include flex-centered;

    gap: 32px;
  }

  &__copyright {
    @extend .inter-medium;

    width: max-content;
    margin: 0 auto;
  }

  &__texts {
    z-index: 2;
    display: flex;
    width: 100%;
    max-width: 505px;
    flex-direction: column;
    flex-shrink: 0;
    gap: 32px;

    h1 {
      @extend .inter-semibold;
    }

    p {
      @extend .inter-regular-thinner;
    }
  }

  .preview {
    position: relative;
    width: 100%;

    &__box {
      @include theme-transition-base(background-color);

      position: relative;
      z-index: 2;
      width: 100%;
      max-width: 730px;
      height: 440px;
      flex-shrink: 0;
      background-color: var($bg-preview);
      border-radius: 32px;
    }

    .shape {
      position: absolute;
      width: 250px;
      height: 280px;
      filter: blur(70px);

      &_one {
        top: -75px;
        left: -80px;
        animation: shape-animation 4s linear infinite;
        background: var($accent-color-general);
      }

      &_two {
        right: -30px;
        bottom: -30px;
        animation: shape-animation 7s linear infinite;
        background: var($accent-color-general);
      }

      &_three {
        bottom: -100px;
        left: 20px;
        animation: shape-animation 5s alternate infinite;
        background-color: var($accent-color-secondary);
      }
    }

    .symbol {
      @extend .chakra-petch-medium;

      user-select: none;

      &_one {
        position: absolute;
        z-index: 2;
        top: -25px;
        left: -40px;
        transform: rotate(-35deg);
      }

      &_two {
        position: absolute;
        z-index: 2;
        top: -5px;
        right: 30px;
        transform: rotate(20deg);
      }

      &_three {
        position: absolute;
        z-index: 1;
        bottom: -40px;
        left: 40px;
        transform: rotate(20deg);
      }
    }
  }
}
