.default-page {
  @include page-creator('none', 'auto', 'auto') {
    height: calc(calc(var(--vh, 1vh) * 100) - $header-height - 32px);
    height: calc(100svh - $header-height - 32px);
    margin-bottom: 32px;

    @media (max-width: 1280px) {
      padding-top: 80px;
    }

    @media (max-width: 900px) {
      padding-top: 20px;
    }
  }

  &__box {
    @include flex-centered;

    gap: 32px;

    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      gap: 64px;
      text-align: center;
    }
  }

  &__texts {
    z-index: 2;
    display: flex;
    width: 100%;
    max-width: 505px;
    flex-direction: column;
    flex-shrink: 0;
    gap: 32px;

    h1 {
      @extend .inter-semibold;
    }

    p {
      @extend .inter-regular-thinner;
    }

    @media (max-width: 1100px) {
      max-width: 405px;
    }

    @media (max-width: 900px) {
      max-width: 100%;
      align-items: center;
    }
  }

  .preview {
    position: relative;
    width: 100%;
    max-width: 730px;

    @media (max-width: 900px) {
      margin-bottom: 64px;
    }

    @media (max-width: 550px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__box {
      @include theme-transition-base(background-color);

      position: relative;
      z-index: 2;
      width: 100%;
      max-width: 730px;
      height: 440px;
      flex-shrink: 0;
      background-color: var($bg-preview);
      border-radius: 32px;
      object-fit: cover;

      @media (max-width: 1000px) {
        height: 340px;
      }
    }

    .button_primary {
      position: absolute;
      z-index: 2;
      right: 25px;
      bottom: 15px;

      @media (max-width: 550px) {
        right: auto;
      }
    }

    .shape {
      position: absolute;
      width: 250px;
      height: 280px;
      filter: blur(70px);

      @media (max-width: 1280px) {
        width: 200px !important;
        height: 230px !important;
      }

      &_one {
        top: -75px;
        left: -80px;
        animation: shape-animation 4s linear infinite;
        background: var($accent-color-general);

        @media (max-width: 1280px) {
          top: 0;
          left: 0;
        }
      }

      &_two {
        right: -30px;
        bottom: -30px;
        animation: shape-animation 7s linear infinite;
        background: var($accent-color-general);

        @media (max-width: 1280px) {
          right: 0;
          bottom: 0;
        }
      }

      &_three {
        bottom: -100px;
        left: 20px;
        animation: shape-animation 5s alternate infinite;
        background-color: var($accent-color-secondary);

        @media (max-width: 1280px) {
          bottom: 0;
          left: 0;
        }
      }
    }

    .symbol {
      @extend .chakra-petch-medium;

      user-select: none;

      &_one {
        position: absolute;
        z-index: 2;
        top: -25px;
        left: -40px;
        transform: rotate(-35deg);

        @media (max-width: 900px) {
          top: -5px;
          left: -20px;
        }
      }

      &_two {
        position: absolute;
        z-index: 2;
        top: -5px;
        right: 30px;
        transform: rotate(20deg);

        @media (max-width: 900px) {
          top: -5px;
          right: 10px;
        }
      }

      &_three {
        position: absolute;
        z-index: 1;
        bottom: -40px;
        left: 40px;
        transform: rotate(20deg);

        @media (max-width: 900px) {
          bottom: -20px;
          left: 20px;
        }
      }
    }
  }
}
