.registration-page {
  @include page-creator('auto', 'auto', 'none') {
    align-items: center;
    padding-top: 13vh;
    padding-top: 13svh;
  }

  &__wrapper {
    position: relative;
  }

  .window {
    &__box {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 32px;
    }
  }

  .shape {
    position: absolute;
    z-index: -1;
    filter: blur(70px);

    &_one {
      top: -75px;
      left: -100px;
      width: 290px;
      height: 280px;
      animation: shape-animation 4s linear infinite;
      background: var($accent-color-general);
    }

    &_two {
      top: 80px;
      right: -120px;
      width: 320px;
      height: 340px;
      animation: shape-animation 7s linear infinite;
      background: var($accent-color-general);
    }

    &_three {
      bottom: -40px;
      left: -60px;
      width: 330px;
      height: 350px;
      animation: shape-animation 5s alternate infinite;
      background-color: var($accent-color-secondary);
    }
  }
}
