/* stylelint-disable no-descending-specificity */
$icon-width: 50px;

.input {
  @extend .inter-medium;

  &_primary {
    @include theme-transition-base(color);

    width: max-content;
    height: 56px;
    flex-shrink: 0;
    padding: 16px 24px;
    border: 1px solid var($input-border);
    border-radius: 16px;
    caret-color: var($accent-color-general);
    color: var($text-general);
    white-space: nowrap;

    @media (max-width: 900px) {
      padding: 8px 16px;
    }

    &::placeholder {
      color: var($input-border);
    }

    @include hover {
      border-color: var($accent-color-general);
    }

    &:focus {
      border-color: var($accent-color-general);
      color: var($accent-color-general);
    }
  }

  &_search {
    @include theme-transition-base(color);

    width: 100%;
    min-height: 40px;
    caret-color: var($accent-color-general);
    color: var($text-general);

    &:focus {
      color: var($accent-color-general);

      & ~ #search-svg {
        path {
          fill: var($accent-color-general);
        }
      }
    }

    & ~ #search-svg {
      width: 22px;
      height: 22px;

      path {
        @include theme-transition-base(fill);

        fill: var($text-general);
      }
    }
  }

  &_char {
    width: 50px;
    flex-shrink: 0;
    padding: 0;
    text-align: center;
  }

  &_error {
    border-color: var($error);
  }

  &_large {
    width: 308px;
  }

  &_full {
    width: 100%;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &_search {
    width: 100%;
  }

  p {
    @include theme-transition-base(color);

    @extend .caption-regular;

    color: var($input-border);
  }

  &__chars {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
  }

  &__error {
    color: var($error) !important;
  }

  &__box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;

    &[aria-valuetext="password"] .input_primary {
      padding-right: calc(24px + $icon-width);
    }

    &[aria-disabled="false"]:hover .input_primary {
      border-color: var($accent-color-general);
    }
  }

  .box {
    &_search {
      flex-direction: row-reverse;
    }
  }

  .icon {
    @include flex-centered;

    position: absolute;
    top: 0;
    right: 0;
    width: $icon-width;
    height: 100%;
    flex-shrink: 0;
    justify-content: center;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    cursor: pointer;
    user-select: none;

    &::after {
      position: absolute;
      right: $icon-width;
      width: 1px;
      height: 60%;
      background-color: var($input-border);
      content: '';
    }

    svg {
      position: relative;
      top: 1px;
      right: 2px;

      path {
        fill: var($input-border);
      }
    }

    &::before {
      position: absolute;
      width: 2px;
      background-color: var($input-border);
      content: '';
      transform: translateY(1px) translateX(-2px) rotate(35deg);
      transition: height 0.1s ease-in-out;
    }

    &_show {
      &::before {
        height: 22px;
      }
    }

    &_hide {
      &::before {
        height: 0;
      }
    }

    @include hover {
      svg {
        path {
          fill: var($accent-color-general);
        }
      }

      &::before {
        background-color: var($accent-color-general);
      }
    }
  }
}

.autocomplete-input {
  position: fixed;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
